body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: #e0e0e0;
}

.MuiTypography-h4 {
  color: #00bcd4;
}

.MuiChip-root {
  background-color: #00bcd4;
  color: #121212;
}

.MuiChip-root:hover {
  background-color: #ff4081;
  color: #121212;
}

button {
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  transform: scale(1.05);
}
